<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录页</title>
</head>
<body>

  {{if .failed}}
    <p>{{.error_msg}}，请重新输入用户名密码登录</p>
  {{else}}
    <p>当前未登录，请输入用户名密码登录</p>
  {{end}}

  <form name="input" action="/oauth/login", method="post">
      <p>用户名:<input type="text" name="username"></p>
      <p>密码:<input type="password" name="password"></p>
      <p><input type="hidden" name="req_id" value={{.reqId}}>
      <p><input type="submit" value="确定"></p>
      <p><input type="reset" value="取消"></p>
  </form>
</body>
</html>